# Python
__pycache__/
*.py[cod]
*.so

# Environment & secrets
.env
.envrc
venv/
.venv/

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Celery
celerybeat-schedule
celerybeat.pid

# Alembic
alembic/versions/*.pyc

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
